name: Jego Build & Deploy

on:
  workflow_call:
    inputs:
      github_token:
        required: true
        type: string
      branch:
        required: false
        type: string
        default: gh-pages

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout repository
      - uses: actions/checkout@v3

      # Setup PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      # Build Jego site
      - name: Build Jego
        run: php build.php

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ inputs.github_token }}
          publish_dir: ./dist
          publish_branch: ${{ inputs.branch }}
